<!doctype html>
<html lang="en">

<head>
  <title>Chiper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="shortcut icon" type="image/gif" href="images/favicon.gif" />
  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/product-detail.css">

</head>

<body>

  <header role="banner">
    <nav class="navbar navbar-expand-lg  bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand " href="index.html"><img src="images/logo.gif" alt="logo" style="width:120px" ></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav pl-md-5">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="services.html">Project</a>

            </li>
            <li class="nav-item">
              <a class="nav-link active" href="portfolio.html">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="../portfolio.html">中文</a>
                <a class="dropdown-item" href="portfolio.html">English</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- END header -->


  <div ng-app="chiperWeb" ng-controller="myCtrl">
    <div class="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-6">
            <img id="img_path" alt="Image" class="img-fluid" src="./Chiper_files/CPT-SHR600HD.jpg">
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="mb-4" id="name">夜視型網路車道全景攝影機</h2>
            <h3 class="mb-4" id="code">CPT-SHR150</h3>
            <p id="description">-Super H-IR 新一代高亮度紅外線元件 -搭配攝影機一體化設計 -HD高畫質,解析度可達1080P -夜間有限路燈光線下,可清晰拍攝多車道路況及車牌 -連續使用下,工作壽命可達10,000小時以上,符合防水防塵等級IP-68
            </p>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">
                <strong class="d-block text-black">Type</strong>
                <p id="type">車牌辨識攝影機</p>
              </li>

            </ul>
            <p ng-if="productDetail.doc_path!=&#39;&#39;"><a href="http://www.chiper.net.tw/specs/CPT-SHR150-tw.pdf" id="doc_path" target="_blank" class="btn btn-outline-black ">Download Catalog</a></p>
          </div>
        </div>

      </div>
    </div>

  <div class="bg-primary py-5">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <h3 class="text-white mb-4 font-weight-normal">Didn't see what you're looking for?</h3>
          <p class="text-white mb-5">Please tell us what you need, we will have our specialists help you!</p>

          <p class="mb-0"><a href="contact.html" class="btn btn-outline-white px-4 py-3">Contact us</a></p>
        </div>
      </div>

    </div>
  </div>
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-4">About Chiper</h3>
        <p>Founded in 1989, Chiper Technology has entered its almost 20 years of operation. We are one Pioneers of CCTV system manufacturing as the earliest company in Taiwan that started R&D & manufacturing cameras. We are the first one to start using "SONY" CCD in cameras manufacturing. The first one to be successful with R&D & production to supply 2/3" CCD cameras in Taiwan under cooperation with "SONY" corporation of Japan. Has been a leader of Taiwan’s development on Video imaging & Control system equipment.</p>

      </div>
      <div class="col-md-6 pl-md-5">
        <div>
          <h3 class="mb-4">Contact</h3>
          <ul class="list-unstyled footer-link">
            <li class="d-block">
              <span class="d-block">Address:</span>
              <span class="text-white">4F., No. 33, Sec. 2, Sanmin Rd., Banqiao Dist., New Taipei City 220, Taiwan (R.O.C.)</span>
            </li>
            <li class="d-block">
              <span class="d-block">Phone:</span><span class="text-white">+886-2-2964-6633</span>
            </li>
            <li class="d-block">
              <span class="d-block">Email:</span><span class="text-white">chiper@chiper.com.tw</span>
            </li>
          </ul>
        </div>


      </div>

    </div>

  </div>
</footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#f4b214" /></svg></div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/product.js"></script>

</body>

</html>